[flake8]
# Игнорируем длинные строки, лишние пробелы и отсутствие пустых строк в конце файла
ignore =
    E501,
    W291,
    W292,
    W293,
    F401,
    E301
# Не проверяем папку с миграциями и виртуальное окружение
exclude =
    tests/,
    */migrations/,
    venv/,
    env/