# Настройки БД
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432

# Настройки Django (3 переменные из settings.py)
SECRET_KEY=django-insecure-example-key-replace-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,89.169.167.228