version: '3.8'

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/app/collected_static/
      - media:/app/media/

  frontend:
    build: ./frontend/

  gateway:
    build: ./nginx/
    ports:
      - "80:80"
    volumes:
      - static:/staticfiles/
      - media:/app/media/
    depends_on:
      - backend
      - frontend

volumes:
  pg_data:
  static:
  media: